html{
	scroll-behavior: smooth;
}
.video-list{

	height: 400px;
	background: #f1f1f1;
	padding: 10px;
	
}

.container .row{
	margin-top: 60px;
	margin-left: -120px;	
}
.container .row .part{
	height: 88vh;
	overflow: hidden;
	overflow-y: scroll;
	padding-top: 10px;
}
.container .row .part ul{
	list-style: none;
}

.mycol{

}
.footer{
	
	line-height: 50px;
}

@media(min-width: 992px){

}
@media(min-width: 768px) and (max-width: 991px){

}
@media(min-width: 601px) and (max-width: 768px){

}

@media(max-width: 600px){
.tray{
	margin-top: -20px;
}
}


